@font-face {
    font-family: 'Manuscript';
    src: url('fonts/Manuscript/Manuscript.ttf.woff') format('woff'),
        url('fonts/Manuscript/Manuscript.ttf.svg#Manuscript') format('svg'),
        url('fonts/Manuscript/Manuscript.ttf.eot'),
        url('fonts/Manuscript/Manuscript.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    /* font-family: 'GregorianFLF';
    src: url('fonts/GregorianFLF.ttf') format('truetype'); */

    font-family: 'ChakraPetchRegular';
    src: url('fonts/ChakraPetchRegular.ttf') format('truetype');

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
@supports (-webkit-backdrop-filter: none) {
    a {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
    }
} */

/* STRONA GŁÓWNA */
/* -------------------------------------------------- */

body {
    background-image: url("img/tla/tloo.jpg");
    background-size: auto;
    max-width: 1920px;

}


.container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container1 {
    width: 100%;
}


figure {
    display: flex;
    justify-content: center;
}

figure a {
    padding: 1.5em;
    background-color: rgba(12, 12, 12, 0.65);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    width: 100%;
}

/* #LOGO {
    width: 33vw;
} */
ul li {
    list-style: none;
}

ul a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: "Manuscript";
    background-color: rgba(12, 12, 12, 0.65);
    padding: 0.5em;
    width: 5em;
    text-align: center;
}

#lista {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#lista ul {
    list-style: none;
    width: 100%;
}

#lista a {
    width: 100%;
    margin-bottom: 0.3em;
    padding: 1em;
    font-size: 6vw;
}

.container2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* siemandero musisz to zmienic */
    align-items: center;
}

nav {
    background-color: rgba(12, 12, 12, 0.65);
    /* position: relative; */
    top: 0;
    width: 100%;
}

nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

#hammenu {
    display: none;
    width: 100%;
}

#hammenu a {
    width: 100%;
    font-size: 5vw;
}

#hamburger {
    width: 100%;
}

.mobile {
    display: none;
}


nav>ul a {
    /* width: 7em; */
    background-color: rgba(63, 63, 63, 0.1);
    /* font-size: 1.4vw; */
}


a:hover {
    background-color: rgba(163, 163, 163, 0.4);
    transition-duration: 0.5s;
}

#zdj>img {
    width: 60vw;
}

#zdj {
    width: 100%;
}

#hamburger>img {
    width: 11vw;
}

main {
    background-color: rgba(75, 75, 75, 0.6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding: 1em;
    /* margin: auto; */
    margin-top: 1em;
    margin-bottom: 3em;

}

section {
    width: 100%;
}

article {
    background-color: rgba(238, 238, 238, 0.8);
    padding: 1.5em;
    font-size: 3vw;
    font-family: "ChakraPetchRegular";
}

article:nth-of-type(2) {
    margin-top: 1em;
}

aside {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside>figure {
    width: 100%;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 0.4em;
    background-color: rgba(12, 12, 12, 0.65);
    width: 20em;
    /* font-size: 1vw; */
    text-align: center;
    font-family: "ChakraPetchRegular";
    color: #fff;
    font-weight: bold;
}

audio {
    width: 3em;
}

/* ---------------------------------------- */



/* KONTAKT */
/* ---------------------------------------- */

#kontakt {
    background-image: url("img/tla/wallpeper7.jpg");
    background-size: auto;
    max-width: 1920px;
}

.container0 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularz {
    background-color: rgba(238, 238, 238, 0.8);
    flex-direction: column;
    align-items: center;
    /* margin-top: 1.5em; */
    padding: 0;
    width: 50%;

}

.formularz>section {
    width: 100%;
}

header {
    font-size: 0.9vw;
}

.formularz>section>img {
    width: 50vw;
}

.formularz header {
    margin-top: 1.5em;
    font-family: "ChakraPetchRegular";
    text-align: center;
}

form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-family: "ChakraPetchRegular";
    font-size: 0.8vw;
}

label {
    width: 100%;
    padding: 0.6em;
    margin-top: 0.5em;
    display: block;
    box-shadow: 10px 7px 10px rgba(12, 12, 12, 0.37);
    background-color: rgba(255, 255, 255, 0.2);
}

input {
    font-family: "ChakraPetchRegular";
    padding: 1em;
    width: 100%;
    font-size: 0.7vw;
}


#com {
    /* height: 10vh; */
    resize: none;
    font-family: "ChakraPetchRegular";
    padding: 1em;
    width: 100%;
    font-size: 0.7vw;
}

#send {
    font-size: 0.7vw;
    font-weight: bold;
    width: 35%;
    padding: 0.6em;
    margin-top: 0.8em;
    background-color: rgba(26, 114, 172, 0.452);
}

#wizytowka {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wizytowka>aside {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 0;
    font-family: "ChakraPetchRegular";
    width: 37%;
    font-size: 0.8vw;
}

#wizytowka p {
    box-shadow: 10px 7px 10px rgba(12, 12, 12, 0.37);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1em;
    width: 90%;
    margin-bottom: 2em;
    text-align: center;
}

#wizytowka figure {
    box-shadow: 10px 7px 10px rgba(12, 12, 12, 0.37);
    width: 90%;
    margin-bottom: 1em;
}

#ja {
    object-fit: fill;
}

/* ----------------------------------------- */


@media (min-width: 440px) {
    #lista a {
        font-size: 5vw;
    }

    #hamburger>img {
        width: 7vw;
    }

    #hammenu a {
        width: 100%;
        font-size: 3.5vw;
    }

    article {
        font-size: 2.5vw;
    }

}

@media (min-width: 640px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #lista ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    #lista a {
        width: 5em;
        padding: 0.5em;
        font-size: 3.5vw;
        margin-bottom: 0;
    }

    #LOGO {
        width: 60vw;
    }

    #lista {
        display: block;
    }

    #zdj>img {
        width: 18em;
    }

    #hamburger {
        display: none;
    }

    .mobile {
        display: flex;
    }

    nav ul a {
        font-size: 1.4em;
    }

    nav ul {
        flex-wrap: wrap-reverse;
    }

    main {
        width: 80%;
    }

    article {
        font-size: 2vw;
    }

}

@media (min-width: 1280px) {
    #lista {
        display: flex;
    }

    #lista ul {
        width: 50%;
        justify-content: space-between;
    }

    #lista a {
        font-size: 1.8vw;
    }

    #LOGO {
        width: 33vw;
    }

    nav>ul a {
        width: 7em;
        font-size: 1.4vw;
    }

    #zdj>img {
        width: 17vw;
    }

    main {
        width: 75%;
    }

    article {
        font-size: 1.02vw;
    }

    section {
        width: 60%;
    }

    aside {
        width: 38%;
        margin-top: 0;
        margin-left: 2%;
    }

}